# This workflow will install MULE and run all the tests with pytest

name: Tests

on:
  push:
  pull_request:

jobs:
  build:
   
      strategy:
        fail-fast: false
        matrix:
          python-version: [3.12]
          platform: 
            - ubuntu-24.04
            - ubuntu-24.04-arm64
            - macos-14  # macOS ARM (M1/M2/M3/M4)
            - macos-13  # macOS x86_64
      runs-on: ${{ matrix.platform }}
    
      steps:
        - uses: actions/checkout@v4
      
        - name: Test suite
          run: |
            # Use setup.sh to handle architecture detection automatically
            source setup.sh

            echo 
            echo "************************************"
            echo ---------------test-----------------
            echo "************************************"
            echo 

            PYTEST_ADDOPTS=--color=yes HYPOTHESIS_PROFILE=travis-ci python -m pytest -v 
